<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.robin.mytea">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true"
        android:icon="@drawable/ic_logo"
        android:theme="@android:style/Theme.Black.NoTitleBar"
        android:name=".app.MyApplication"
        >

        <activity
            android:name=".act.StartActivity"
            android:label="@string/title_activity_start" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".act.GuideActivity"
            android:label="@string/title_activity_guide" >
        </activity>
        <activity android:name=".act.MainActivity"
            android:label="@string/title_activity_guide"
            >
        </activity>
        <activity
            android:name=".act.FunctionActivity"
            android:label="@string/title_activity_search" >
        </activity>
        <activity
            android:name=".act.ContentActivity"
            android:label="@string/title_activity_content" >
        </activity>
        <activity
            android:name=".act.ShareActivity"
            android:label="@string/title_activity_share" >
        </activity>


    </application>

</manifest>
